.wrapper{
    margin-top: 200px;
.row{

 

.card{

    height: 200px;
    margin-bottom: 100px;
    .card-img-top{


        position: absolute;
        top: -60px;
        left: 20px;
        width: 66px;
        height: 66px;
        border-radius: 35%;
      
    }
  
}

}
}

.parent_search{
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: -25px;
  

.btn-title{
    // width: 300px;
    // height: 50px;
    width: 300px;
    height: 100%;
    padding-left: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
  }
  .btn-filter{
    // width: 300px;
    // height: 50px;
    // margin-top: 100px;
    width: 300px;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left: 2px solid;
    border-color: lightgrey;
  }
}


.header{
  background-color:#5964E0;
  width: 100%;
  height:160px;
  border-bottom-left-radius: 70px;
  padding-inline: 42px;

  
 
    #dev{
      color: rgb(255, 255, 255);
   
    }
  
  
  }
 


  
  .dark-mode {
    background-color: #121721;
    color: white;
  }
  .card.dark-mode {
    background-color: #19202D;
    color: white;
  }
  .card.light-mode {
    background-color: #FFFFFF;
    color: black;
  }
  .light-mode {
    background-color: #F2F2F2;
    color: black;
  }

  
  .switch {
    position: relative;
    width: 60px;
    height: 34px;
    cursor: pointer;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  whitesmoke;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    cursor: pointer;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #5964E0;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: whitesmoke;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
    
   
  }
  .switch input {
   
    opacity: 0;
   
  }

  .load_parent{
    text-align: center;
 
   .load_btn{
    background-color: #5e6aef;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5%;
    margin-bottom: 100px;
   }
  }
  
  :root {
    --bg-color: #F4F6F8; 
  }
html{
  background-color: var(--bg-color);
}


@media (max-width: 789px) {
  .app{
width: 100%;
  }
}
@media (max-width: 400px) {
.app{
  width: 100%;
}
}

.app{
  width: 100%;
}

.card-title{

  cursor: pointer;
}



.img-company{
  width: 100px;
  height: 100%;
 
  img{
    object-fit: cover;
  }
}
.carrier{
  background-color: #ffffff;
  padding: 0px !important;
  position: relative;
  height:140px;
  border-radius: 5px;
 
}

.unique{

  margin-top: -50px !important;

}

.company-site{
  height: 100%;
  align-items: center;
  border-radius: 5px;
 
}
.parent-btn {
  margin-left: 0px 
}
.company-button{
  position: relative;
  border: none;
  right:0px;
  padding: 8px 18px;
  color: #5964E0;
}
.info{
 
  padding-bottom: 10px;
}

.footer_bg{
  margin-top: 70px;
  background-color: white;
  width: 100%;
  height: 80px;
 
  .footer{

  margin-inline: 24%;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  }
}
.footer-button{

  border: none;
  background-color: #5964E0;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
}


.company-site.d-flex.justify-content-betweeen.dark-mode {
  background-color: #19202D;
  color: white;
}
.company-site.d-flex.justify-content-between.light-mode {
  background-color: #FFFFFF;
  color: black;
}

.wrapper-1.dark-mode{
  background-color: #19202D;
  color: white;
}
.wrapper-1.light-mode{
  background-color: #FFFFFF;
  color: black;
}
.footer_bg.dark-mode{
  background-color: #19202D;
  color: white;
}
.footer_bg.light-mode{
  background-color: #FFFFFF;
  color: black;
}
.company-button.dark-mode{
  background-color: #2e3a4f;
  color: white;
}
.company-button.light-mode{
  background-color: #eee9e9;
  color: black;
}
.new{
  margin-top: 32px;

}

.com{
  padding: 0px !important
}
.footer-2{
  padding-inline: 60px;
}

.footer_2_btn{
  margin-top: 10px;
}
.row-1{
  padding-top: 40px;
  padding-bottom: 30px;
  padding-inline: 40px;
}
.lists{

  padding-top: 30px;
  margin-left: 20px;
}

.title-{
  padding-bottom: 30px;
}

.parent_btn{
  padding-left: 100px;
  margin-right:20px;
}